__pycache__/
*.pyc
.ipynb_checkpoints/
*.pdf
*.doc
*.docx
*.zip
exam_requirements_extracted.txt
data/household_power_consumption.txt
data/household_power_consumption.zip
data/*.csv
output/
output/rendered_report/
output/rendered_cover/
